@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Oswald:500,700&display=swap');

body {
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background-color: #f9f6f7;
}

h1, h2 {
    color: #232020;
    font-family: 'Oswald', sans-serif;
}

p {
    margin: 32px 0;
}

a {
    color: #ff971d;
    text-decoration: none;
}

a:hover {
    color: #ff7315;
}

ul {
    margin-top: 24px;
    padding: 0;
    list-style: none inside none;
}

ul li {
    display: inline-block;
    margin: 8px 24px;
}

img {
    width: 200px;
}

.img-circle {
    border-radius: 50%;
}

.profile-img {
    position: relative;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center center;
    background-image: url(https://avatars3.githubusercontent.com/u/6062926?s=460&v=4);
    background-color: transparent;
}

/* .glow {
    position: relative;
} */

.profile-img:hover .glow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
}
.glow:hover {
}

.text-justify {
    text-align: justify;
}

.text-upper {
    text-transform: uppercase;
}

.pb-6 {
    padding-bottom: 48px !important;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.col-3 {
    width: 30%;
}

.col-7 {
    width: 70%;
}

.container {
    margin: 0 auto;
    width: 800px;
}

.card {
    margin: 24px 0 48px 0;
    padding: 8px 24px 24px;
    text-align: center;
    background-color: rgb(240,240,240);
    border-radius: 8px;
    box-shadow: 2px 5px 10px rgba(0,0,0,.2);
}

.stacked {
    display: flex;
    flex-direction: column;
}

.btn-primary {
    padding: 12px 24px;
    color: #333;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #ffc55c;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.btn-primary:hover {
    color: inherit;
    background-color: #ff971d;
}

.social-icon i {
    color: rgba(30,30,30,.6);
    font-size: 2.4rem;
}
.social-icon:hover i {
    color: rgba(30,30,30,.9);
}

.progressbar {
    display: flex;
    width: 100%;
    height: 30px;
    border: 1px solid;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0,0,0,.4);
}
.progressbar:after {
    content: '';
    width: 80%;
}
.progressbar:after {
    content: '';
}
.progressbar[data-width="10"]:after {
    width: 10%;
    background-color: rgba(255,0,0,.5)
}
.progressbar[data-width="20"]:after {
    width: 20%;
    background-color: rgba(255,0,0,.5)
}
.progressbar[data-width="30"]:after {
    width: 30%;
    background-color: rgba(255,0,0,.5)
}
.progressbar[data-width="40"]:after {
    width: 40%;
    background-color: rgba(255,0,0,.5)
}
.progressbar[data-width="50"]:after {
    width: 50%;
    background-color: #eb8242;
}
.progressbar[data-width="60"]:after {
    width: 60%;
    background-color: #eb8242;
}
.progressbar[data-width="70"]:after {
    width: 70%;
    background-color: #f6da63;
}
.progressbar[data-width="80"]:after {
    width: 80%;
    background-color: #f6da63;
}
.progressbar[data-width="90"]:after {
    width: 90%;
    background-color: #91bd3a;
}
.progressbar[data-width="100"]:after {
    width: 100%;
    background-color: #91bd3a;
}

@media (max-width: 768px) {
    .container {
        width: 700px;
    }
}
@media (max-width: 540px) {
    .container {
        width: 100%;
    }
    .btn-primary {
        font-size: 1rem;
    }
}